@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");

* {
  margin: 0%;
  padding: 0%;
  -webkit-tap-highlight-color: transparent;}

body {
  height: 100vh;
  background-color: #809de2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Baloo Bhai 2", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.main-container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(180%) blur(40px);
}

.main-container .sidebar {
  width: 222px;
  height: 98%;
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
  margin-left: 12px;
  border-radius: 17px;

  transition: all 0.5s;
  z-index: 99;
}

.sidebar #closeSideBar{
  position: absolute;
  right: 17px;
  top: 17px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  display: none; /* flex */
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.main-container .sidebar .nav-links .nav-items,
#logo-wrapper {
  list-style: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-items:hover{
  background-color:rgba(161, 255, 184, 0.562) ;
}

.nav-links .active {
  border-left: 4px solid rgb(46, 206, 46);
  background: linear-gradient(
    to right,
    rgba(161, 255, 184, 0.562),
    rgb(255, 255, 255)
  );
  color: rgb(12, 194, 12) !important;
  font-weight: bold;
}

#logo-wrapper {
  height: 100px;
  flex-direction: column;
}

.main-container .content {
  width: calc(100% - 280px);
  height: 98vh;
  margin-left: 27px;
}

.content .header {
  width: 100%;
  height: 120px;

  display: flex;
}

.header .header_left,
.header .header_right {
  width: 100%;
}

#openMenuIcon{
  display: none;
  font-size: large;
}
.header_left .title {
  margin-left: 7px;
  margin-top: 7px;
}

.header_right_top,
.header_right_bottom {
  height: 50%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_right_top .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.7em;
  cursor: pointer;
  position: relative;
  color: #505763;
  padding: 0px 17px;
}
.profile h6, .profile i{
  margin-right: 7px;
}
.header_right_top .profile:hover{
  color: #292c31;
}
.header_right_top .profile:hover .drop-down{
  display: block;
}
.profile .drop-down{
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  color: #505763;
  background-color:white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  z-index: 9;
}

.drop-down .drop-down-content {
  width: 120px;
  font-size: 1.2rem;
  padding: 0.5em;
  border-radius:12px;
  display: flex;
  align-items: center;
}
.drop-down .drop-down-content:hover {
  background-color:rgba(80, 245, 121, 0.562) ;
}

.content .body-wrapper {
  width: 100%;
  height: calc(100% - 125px);
  background-color: white;
  display: flex;
  border-radius: 17px;
}

.body-wrapper .body-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.7vw;
  line-height: 5vw;
  color:#413960;
}
.body-wrapper_heading-title .highlight {
  color: #85d1a0;
}
.body-wrapper_image-container img{
  width: 90%;
  height: 90%;
}

.modal-form .addAdminBtn{
  width: 100px;
  height: 30px;
  margin-top: 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgb(32, 197, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: white;
}
.modal-form .addAdminBtn:hover{
  background-color: rgb(32, 215, 32);
}

@media (max-width: 800px) {
  .body-wrapper .body-content {
    font-size: 3.2vw;
    line-height: 6vw;
  }
  .highlight-tag{
    font-size: 2vw !important;
  }
  .main-container .sidebar {
    position: absolute;
    left: -300px;
    transition: all 0.5s;
  }
  .main-container .content {
    width: 100%;
    margin: 0%;
  }
  #openMenuIcon{
    display: flex;
  }
  .header_left .title{
    margin: 0%;
  }
  .header_left .title, #openMenuIcon{
    margin-left: 10px;
  }
  .header_left {
    display: flex;
    align-items: center;
    height: 60px;
  }
}

@media (max-width: 990px) {
  #body-wrapper{
    height: calc(100% - 170px);
    overflow: auto !important;
    justify-content: center;
  }
}


@media (max-width: 450px) {
  .content .body-wrapper{
    flex-direction: column;
    border-radius: 0px;
  }
  .body-wrapper .body-content {
    font-size: 5.2vw !important;
    line-height: 10vw !important;
  }
  .highlight-tag{
    font-size: 3vw !important;
  }
  .header{
    font-size: 0.8rem;
  }
  .header .header_right{
    width: 30%;
  }
}
